<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgcdCn1enB0lGkYF8hdHuvkmUl0HW0R30</string>
	<key>GCM_SENDER_ID</key>
	<string>320561641352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.gopay.transfer.goPay.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gopay-cd213</string>
	<key>STORAGE_BUCKET</key>
	<string>gopay-cd213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320561641352:ios:b830bf5dc67bfe04fbac3d</string>
</dict>
</plist>